@font-face {
    font-family: 'mon-900';
    src: url('../font/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-900';
    src: url('../font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-700';
    src: url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-700';
    src: url('../font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-500';
    src: url('../font/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-500';
    src: url('../font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-400';
    src: url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-300';
    src: url('../font/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-300';
    src: url('../font/Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-100';
    src: url('../font/Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-100';
    src: url('../font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

